* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    background: #f5f7fb;
}

body {
    overflow-y: scroll;
    letter-spacing: 0;
    touch-action: manipulation;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 0;
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Arial';
    font-size: 14px;
    line-break: 1.4;
}


.d-flex {
    display: flex !important;
}

.card {
    --tblr-card-border-radius: 4px;
    box-shadow: rgb(30 41 59 / 4%) 0 2px 4px 0;
    border: 1px solid rgba(98, 105, 118, .16);
    background: var(--tblr-card-bg, #fff);
    border-radius: var(--tblr-card-border-radius);
    transition: transform .3s ease-out, opacity .3s ease-out, box-shadow .3s ease-out;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(98, 105, 118, .16);
    border-radius: 4px;
}

@media (min-width: 768px) {
    .card-md>.card-body {
        padding: 2.5rem;
    }
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1.25rem;
}

.card-title {
    display: block;
    margin: 0 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    font-weight: bold;
    text-transform: uppercase
}

.text-center {
    text-align: center !important;
}

.mb-4 {
    margin-bottom: 2rem !important;
}

.card-title {
    margin-bottom: 1.25rem;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.form-label {
    display: block;
    font-weight: 500;
}

.form-label {
    margin-bottom: 0.5rem;
    font-size: .875rem;
    font-weight: 500;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.4375rem 0px;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: inherit;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d9dbde;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    text-indent: 15px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}



.mb-2 {
    margin-bottom: 0.5rem !important;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group-flat .form-control:not(:last-child) {
    border-right: 0;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-footer {
    margin-top: 2rem;
}

.card-body>:last-child {
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.4285714286;
    color: #1e293b;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.4375rem 1rem;
    font-size: .875rem;
    border-radius: 4px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.w-100 {
    width: 100% !important;
}

.btn {
    --tblr-btn-color-text-rgb: var(--tblr-body-color-rgb);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: var(--tblr-border-color);
    white-space: nowrap;
    background-color: var(--tblr-btn-color, var(--tblr-card-bg));
    color: var(--tblr-btn-color-text);
}

.btn-ghost-primary,
.btn-outline-primary,
.btn-primary {
    --tblr-btn-color: #206bc4;
    --tblr-btn-color-interactive: #1d60b0;
    --tblr-btn-color-text: #fafbfc;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.page {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.page-center {
    justify-content: center;
}

.py-4 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.container-tight {
    width: 100%;
    padding-right: var(--tblr-gutter-x, 1.5rem);
    padding-left: var(--tblr-gutter-x, 1.5rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 33rem;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.is-invalid~.invalid-feedback,
.is-invalid~.invalid-tooltip,
.was-validated :invalid~.invalid-feedback,
.was-validated :invalid~.invalid-tooltip {
    display: block;
}

:disabled {
    cursor: no-drop !important;
    opacity: 0.5 !important;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.login-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btn-social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding: 0 16px;
    font-size: 15px;
    color: 353d48;
    background-color: #fff;
    border: 1px solid #afb7c1;
    border-radius: 4px;
    width: 49%;
}

.btn-social:hover {
    border-color: #1e293b;
}
